name = "dev"
main = "worker.js"
compatibility_date = "2023-07-01"
compatibility_flags = ["nodejs_compat"]

[assets]
binding = "ASSETS"
directory = "./public"

[observability]
enabled = true
head_sampling_rate = 1 # optional. default = 1.

[[d1_databases]]
binding = "DB"
database_id = "dev"
preview_database_id = "0ec3a740-07b7-4fd5-a16c-54a92e1c738b"
